
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

.box {
  margin: 40px;
  background-color: #FFFFFF;
  height: 800px;
  width: 1100px;
  position: relative;
}

.box_1 {
  position: absolute;
  height: 800px;
  width: 550px;
  display: inline-block;
}

.box_2 {
  height: 800px;
  width: 550px;
  left: 50%;
  position: absolute;
  padding-left: 100px;
  padding-top: 100px;
}

.facebookButton {
  background-color: #255A9B;
  color: #FFFFFF;
  font-family: 'Barlow', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 40px;
  border: none;
}

.linkedinButton {
  background-color: #0076B6;
  color: #FFFFFF;
  font-family: 'Barlow', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 40px;
  border: none;
}

.socialIcon {
  height: 16px;
  width: 16px;
}

.logo {
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
}

.text {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  color: #2A4A5C;
}

.text_1 {
  padding-left: 210px;
  font-family: 'Barlow', sans-serif;
  color: #2A4A5C;
}

.placeholder {
  height: 30px;
  width: 200px;
}

.infoButton {
  height: 10px;
  width: 2px;
  border-radius: 50%;
  border: 3px;
  margin-right: 20px;
  font-size: 7px;
}

.checkBox {
  height: 10px;
  width: 10px;
}

.checkBoxText {
  font-size: 10px;
  font-weight: 600;
  font-family: 'Barlow', sans-serif;
  color: #8f8b8b;
}

.createButton {
  height: 40px;
  width: 220px;
  border: none;
  border-radius: 3px;
  background-color: #3698FB;
  color: #FFFFFF;
}

.link {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}
