.box {
  margin: 40px;
  background-color: #FFFFFF;
  height: 800px;
  width: 1100px;
  position: relative;
}

.box_1 {
  position: absolute;
  height: 800px;
  width: 550px;
  display: inline-block;
}

.box_2 {
  height: 800px;
  width: 550px;
  left: 50%;
  position: absolute;
  padding-left: 100px;
  padding-top: 100px;
}
